<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form id="form-register">
        <label>Введите никнейм: </label>
        <input type="text" id="username">

        <label>Введите пароль: </label>
        <input type="password" id="password">
        <button>Зарегистрироваться</button>
    </form>
    <div id="container-successfully"></div>
    <div id="container-error"></div>
    <script th:src="@{/js/register.js}"></script>
</body>
</html>